# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
#param
.env
utils/Config.js
utils/utils.js
google-services.json
test-banking-app-3b3b5-firebase-adminsdk-cmast-96db86b5ee
test-banking-app-3b3b5-firebase-adminsdk-cmast-96db86b5ee.json